.container {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.red {
    background-color: red;
    float: right;
}

.green {
    background-color: green;
    float: left
}

.footer {
    clear: both;
}