div {
    margin: 50px;
    padding: 50px;
    border: 2px solid black;
}

.first {
    background-color: blue;
}

.second {
    background-color: yellow;
}

.third {
    background-color: green;
}

.fourth {
    background-color: pink;
}