.checkbox {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    font-size: 24px;
    margin: 16px;
}

[type="checkbox"] {
    visibility: hidden;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    background-color: #d3d3d3;
}

[type="checkbox"]:checked + .checkmark {
    background-color: #006400;
}

