body {
    font-size: 18px;
}

.properties-list {
    list-style-type: none;
}

.properties-list__item {
    padding: 8px;
    color: #f39;
    font-size: 24px;
    line-height: 32px;
}

.properties-list__item:first-of-type {
    padding-top: 7px;
}