* {
    box-sizing: border-box;
}

.form {
    margin: 32px;
}

input:not(.languages input),
textarea,
select,
button {
    display: block;
    margin: 8px;
}

.languages {
    margin: 8px;
}

input[type="text"] {
    margin-bottom: 10px !important;
}

input[type="checkbox"] {
    margin-bottom: 15px !important;
}