* {
    box-sizing: border-box;
}

.form {
    margin: 32px;
}

input:not(.languages input),
textarea,
select,
button {
    display: block;
    margin: 8px;
}

.languages {
    margin: 8px;
}

input[type="text"] {
    margin-bottom: 9px !important;
}

input[type="checkbox"]:first-of-type {
    margin-bottom: 13px !important;
}
